<div>
    <h2>Documents</h2>
    <span id="url"></span>
    <br />
    <!--
    <div style="height:300px;overflow:auto;">
        -->
    <div>
        <table class="atts">
            <tr>
                <th class="atts" id="description" style="width:150px;">Description</th>
                <th class="atts" id="title" style="width:150px;">Title</th>
                <th class="atts" id="date" style="width:50px;">Data</th>
                <th class="atts" id="status" style="width:50px;">Status</th>
            </tr>
        </table>
    </div>
    <br/>
    <a href="#_metadata:documents" onclick="opendatasourcedivs();">Dataset description</a>
</div>