<div>
    <h2>Derived From EPCs</h2>
    <table class="atts">
        <tr><th class="atts">Value</th><th class="atts">Current</th><th class="atts">Potential</th><th class="atts">Units</th></tr>
        <tr>
            <td class="atts">Domestic Emissions adjusted to add up to parish total</td>
            <td class="atts" id="DOMESTIC_EMISSIONS"></td>
            <td class="atts" id="DOMESTIC_EMISSIONS_POTENTIAL"></td>
            <td class="atts" class="atts">kt CO<sub>2</sub></td>
        </tr>
        <tr>
            <td class="atts">Sum of Emissions on certificates</td>
            <td class="atts" id="CO2_EMISSIONS_CURRENT"></td>
            <td class="atts" id="CO2_EMISSIONS_POTENTIAL"></td>
            <td class="atts">kt CO<sub>2</sub></td>
        </tr>
        <tr>
            <td class="atts">Sum of Emissions on certificates factored up to all dwellings</td>
            <td class="atts" id="CO2_EMISSIONS_CURRENT_FACTORED"></td>
            <td class="atts" id="CO2_EMISSIONS_POTENTIAL_FACTORED"></td>
            <td class="atts">kt CO<sub>2</sub></td>
        </tr>
        <tr>
            <td class="atts">Emissions per certificate</td>
            <td class="atts" id="DOMESTIC_EMISSIONS_PER_EPC_CURRENT"></td>
            <td class="atts" id="DOMESTIC_EMISSIONS_PER_EPC_POTENTIAL"></td>
            <td class="atts">t CO<sub>2</sub></td>
        </tr>
        <tr>
            <td class="atts">Emissions per dwelling</td>
            <td class="atts" id="DOMESTIC_EMISSIONS_PER_DWELLING_CURRENT"></td>
            <td class="atts" id="DOMESTIC_EMISSIONS_PER_DWELLING_POTENTIAL"></td>
            <td class="atts">t CO<sub>2</sub></td>
        </tr>
        <tr>
            <td class="atts">Emissions per capita</td>
            <td class="atts" id="DOMESTIC_EMISSIONS_PER_CAPITA_CURRENT"></td>
            <td class="atts" id="DOMESTIC_EMISSIONS_PER_CAPITA_POTENTIAL"></td>
            <td class="atts">t CO<sub>2</sub></td>
        </tr>
        <tr>
            <td class="atts">Emissions per hectare</td>
            <td class="atts" id="DOMESTIC_EMISSIONS_PER_HECTARE_CURRENT"></td>
            <td class="atts" id="DOMESTIC_EMISSIONS_PER_HECTARE_POTENTIAL"></td>
            <td class="atts">t CO<sub>2</sub></td>
        </tr>
    </table>
    <br />
    <a href="#_metadata:EPC_DERIVED"  onclick="opendatasourcedivs();">Dataset Description</a>
</div>
