<div>
    <h2>Domestic Energy and Emissions from Meters</h2>
    <p id="GAS_SUPPLY"></p>
    <table class="atts">
        <tr><th class="atts">Fuel</th><th class="atts">Meters</th><th class="atts">Energy (GWh)</th><th class="atts">Emissions (kt CO<sub>2</sub>)</th></tr>
        <tr>
            <td class="atts">Gas</td>
            <td class="atts" id="GAS_DOMESTIC_METERS"></td>
            <td class="atts" id="GAS_DOMESTIC_Total_Consumption"></td>
            <td class="atts" id="GAS_DOMESTIC_EMISSIONS"></td>
        </tr>
        <tr>
            <td class="atts">Electricity</td>
            <td class="atts" id="ELECTRICITY_DOMESTIC_METERS"></td>
            <td class="atts" id="ELECTRICITY_DOMESTIC_Total_Consumption"></td>
            <td class="atts" id="ELECTRICITY_DOMESTIC_EMISSIONS"></td>
        </tr>
        <tr>
            <td class="atts">Other Fuels</td>
            <td class="atts"></td>
            <td class="atts" id="OTHER_DOMESTIC_Total_Consumption"></td>
            <td class="atts" id="OTHER_DOMESTIC_EMISSIONS"></td>
        </tr>
        <tr>
            <td class="atts">Total</td>
            <td class="atts"></td>
            <td class="atts" id="DOMESTIC_Total_Consumption"></td>
            <td class="atts" id="DOMESTIC_TOTAL_EMISSIONS"></td>
        </tr>
    </table>
    <a href="#_metadata:meters"  onclick="opendatasourcedivs();">Dataset description</a>
</div>
