<div>
    <h2>2018 Population</h2>
    <table class="atts">
        <tr>
            <th class="atts">Age Range</th>
            <th class="atts">Males</th>
            <th class="atts">Females</th>
            <th class="atts">All</th>
        </tr>
        <tr>
            <td class="atts" >Under 18</td>
            <td class="atts" id="MalesU18"></td>
            <td class="atts" id="FemalesU18"></td>
            <td class="atts" id="PopU18"></td>
        </tr>
        <tr>
            <td class="atts">18 to 65</td>
            <td class="atts" id="Males18_65"></td>
            <td class="atts" id="Females18_65"></td>
            <td class="atts" id="Pop18_65"></td>
        </tr>
        <tr>
            <td class="atts">66 and over</td>
            <td class="atts" id="Males66Over"></td>
            <td class="atts" id="Females66Over"></td>
            <td class="atts" id="Pop66Over"></td>
        </tr>
        <tr>
            <td class="atts">Total</td>
            <td class="atts" id="Males"></td>
            <td class="atts" id="Females"></td>
            <td class="atts" id="Population"></td>
        </tr>
    </table>
    <p>There are <span id="Population_Density"></span> people per hectare</p>
    <a href="#_metadata:population"  onclick="opendatasourcedivs();">Dataset description</a>
</div>