<div>
    <h2>Road Traffic Statistics 2017</h2>
    <table>
        <tr><th>Vehicle Type</th><th>Veh. Km.</th><th>Emissions tCO<sub>2</sub></th></tr>
        <tr>
            <td>Pedal Cycles</td>
            <td id="VEHKM_PEDAL_CYCLES" style="text-align:right;" decimals="0"></td>
            <td></td>
        </tr>
        <tr>
            <td>Two Wheeled Motor Vehicles</td>
            <td id="VEHKM_TWO_WHEELED_MOTOR_VEHICLES" style="text-align:right;"  decimals="0"></td>
            <td id="EMISSIONS_TWO_WHEELED_MOTOR_VEHICLES" style="text-align:right;" decimals="2"></td>
        </tr>
        <tr>
            <td>Cars and Taxis</td>
            <td id="VEHKM_CARS_AND_TAXIS" style="text-align:right;" decimals="0"></td>
            <td id="EMISSIONS_CARS_AND_TAXIS" style="text-align:right;" decimals="2"></td>
        </tr>
        <tr>
            <td>Buses and Coaches</td>
            <td id="VEHKM_BUSES_AND_COACHES" style="text-align:right;" decimals="0"></td>
            <td id="EMISSIONS_BUSES_AND_COACHES" style="text-align:right;" decimals="2"></td>
        </tr>
        <tr>
            <td>Light Goods Vehicles</td>
            <td id="VEHKM_LGVS" style="text-align:right;" decimals="0"></td>
            <td id="EMISSIONS_LGVS" style="text-align:right;" decimals="2"></td>
        </tr>
        <tr>
            <td>Heavy Goods Vehicles</td>
            <td id="VEHKM_HGVS" style="text-align:right;" decimals="0"></td>
            <td id="EMISSIONS_HGVS" style="text-align:right;" decimals="2"></td>
        </tr>
        <tr>
            <td>Totals</td>
            <td id="VEHKM_TOTAL" style="text-align:right;" decimals="0"></td>
            <td id="EMISSIONS_ROAD_TRANSPORT" style="text-align:right;" decimals="2"></td>
        </tr>
    </table>
    <a href="#_metadata:road_emissions"  onclick="opendatasourcedivs();">Dataset description</a>
</div>
