<div>
    <h2>Traffic Counts</h2>
    <table class="atts" id="TrafficCounts">
        <tr>
            <th class="atts" id="year" style="width:50px;">Year</th>
            <th class="atts" id="pedal_cycles" style="width:50px;">Pedal Cycles</th>
            <th class="atts" id="two_wheeled_motor_vehicles" style="width:50px;">Motor Cycles</th>
            <th class="atts" id="cars_and_taxis" style="width:50px;">Cars &amp; Taxis</th>
            <th class="atts" id="buses_and_coaches" style="width:50px;">Buses &amp; Coaches</th>
            <th class="atts" id="lgvs" style="width:50px;">LGVs</th>
            <th class="atts" id="hgvs" style="width:50px;">HGVs</th>
        </tr>
    </table>
    <a href="#_metadata:traffic_counts" onclick="opendatasourcedivs();">Dataset description</a>
</div>